<a href="https://colab.research.google.com/github/Pinalli/Bootcamp_MachineLearning/blob/master/trabalho_pratico_modulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho Prático - Módulo 2

## Enunciado

1. Acessar o ambiente Google Colaboratory(recomendado) ou qualquer ambiente de desenvolvimento em Python.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving bike-sharing.csv to bike-sharing.csv

2. Importar as bibliotecas do numpy e pandas conforme:

In [ ]:
import numpy as np
import pandas as pd

Carregar o dataset https://pycourse.s3.amazonaws.com/bike-sharing.csv para análise utilizando o pandas. Exemplo:

In [ ]:
df = pd.read_csv("bike-sharing.csv")

In [ ]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

A seguir, um descritivo dos dados coletados:

- **rec_id:** índice do registro de locação;

- **datetime:** data;

- **season:** estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte;

- **year:** ano (0: 2011, 1:2012);

- **month:** mês (1 a 12);

- **hour:** hora do dia (0 a 23);

- **is_holiday:** booleano indicando feriado;

- **weekday:** dia da semana (0: domingo, 1: segunda-feira, …, 6: sábado);

- **is_workingday:** booleano indicando dia útil;

- **weather_condition:** (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte);

- **temp:** temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39;

- **atemp:** sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50;

- **humidity:** humidade relativa (0 a 1);

- **windspeed:** velocidade do vento escalada entre 0 e 1 (máximo original: 67);

- **casual:** número de locações para usuários casuais;

- **registered:** número de locações para usuários registrados;

- **total_count:** contador total de aluguéis (casual+registered).

4. Responda às seguintes perguntas:

a. Qual o tamanho desse dataset? (número de linhas, número de colunas)

In [ ]:
df.shape

(17379, 17)

b. Qual a média da coluna windspeed?

In [ ]:
df['windspeed'].mean()

0.1900976063064631

c. Qual a média da coluna temp?

In [ ]:
df['temp'].mean()

0.4969871684216586

d. Quantos registros existem para o ano de 2011? (número de linhas, número de colunas)

In [ ]:
df[df['year'] == 0].shape

(8645, 17)

e. Quantos registros existem para o ano de 2012? (número de linhas, número de colunas)

In [ ]:
df[df['year'] == 1].shape

(8734, 17)

f. Quantas locações de bicicletas foram efetuadas em 2011?

In [ ]:
df[df['year'] == 0]['total_count'].sum()

1243103

g. Quantas locações de bicicletas foram efetuadas em 2012?

In [ ]:
df[df['year'] == 1]['total_count'].sum()

2049576

h. Qual estação do ano contém a maior média de locações de bicicletas?

In [ ]:
df.groupby('season').agg('mean')['total_count'].sort_values(ascending=False).head(1)

season
3    236.016237
Name: total_count, dtype: float64

i. Qual estação do ano contém a menor média de locações de bicicletas?

In [ ]:
df.groupby('season').agg('mean')['total_count'].sort_values(ascending=True).head(1)

season
1    111.114569
Name: total_count, dtype: float64

j. Qual horário do dia contém a maior média de locações de bicicletas?

In [ ]:
df.groupby('hour').agg('mean')['total_count'].sort_values(ascending=False).head(1)

hour
17    461.452055
Name: total_count, dtype: float64

k. Qual horário do dia contém a menor média de locações de bicicletas?

In [ ]:
df.groupby('hour').agg('mean')['total_count'].sort_values(ascending=True).head(1)

hour
4    6.352941
Name: total_count, dtype: float64

l. Que dia da semana contém a maior média de locações de bicicletas?

In [ ]:
df.groupby('weekday').agg('mean')['total_count'].sort_values(ascending=False).head(1)

weekday
4    196.436665
Name: total_count, dtype: float64

m. Que dia da semana contém a menor média de locações de bicicletas?

In [ ]:
df.groupby('weekday').agg('mean')['total_count'].sort_values(ascending=True).head(1)

weekday
0    177.468825
Name: total_count, dtype: float64

n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?

In [ ]:
df[df['weekday'] == 3].groupby('hour').agg('mean')['total_count'].sort_values(ascending=False).head(1)

hour
17    513.144231
Name: total_count, dtype: float64

o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?

In [ ]:
df[df['weekday'] == 6].groupby('hour').agg('mean')['total_count'].sort_values(ascending=False).head(1)

hour
13    385.371429
Name: total_count, dtype: float64